<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd"> 
		
	<!-- 加载配置文件 -->	
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="maxIdle" value="5"/>
	</bean>  	
	<!-- sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 配置数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 加载mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml" />
	</bean>	 
	<!-- mapper批量扫描 从mapper包中扫描出mapper接口 自动创建代理对象并在spring容器中注册 
	 遵循一些规范：需要将mapper接口类名和mapper.xml映射文件名保持一致，且在一个目录中，此时mybatis中的mapper.xml的包扫描可以去掉
	 自动扫描出来的mapper的bean的id为类名（首字母小写）
	 -->
	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	 	<!-- 指定扫描的包名 
	 	如果扫描多个包，每个包使用半角逗号分隔
	 	-->
	 	<property name="basePackage" value="com.smm.mapper"></property>
	 	<!-- 此处要用sqlSessionFactoryBeanName而非sqlSessionFactory 加载顺序问题 注意！-->
	 	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	 </bean>
	 <!-- mapper代理配置
	org.mybatis.spring.mapper.MapperFactoryBean.class:根据mapper接口生成代理对象
	 -->
	 <!-- <bean id="itemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	 	mapperInterface指定mapper接口
	 	<property name="mapperInterface" value="cn.com.sm.mapper.ItemMapper"></property>
	 	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	 </bean> -->
	
</beans>